* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #1212d3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  height: 28rem;
  width: 48rem;
  padding-top: 40px;
  border-radius: 25px;
  background-color: #00a0df;
}
.heading {
  text-align: center;
  color: white;
}
#messageInput {
  height: 2.5rem;
  padding-left: 10px;
  width: 30rem;
  font-size: 20px;
  margin-left: 9.5rem;
  margin-top: 40px;
}
.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  font-weight: bold;
  padding-right: 40px;
  margin-left: 42%;
  margin-top: 30px;
}
.textBox {
  height: 11rem;
  width: 44rem;
  background-color: white;
  font-size: 20px;
  margin-top: 20px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
}
.textBox .para {
  width: 20rem;
}
.heading2 {
  color: white;
  text-align: center;
  margin-top: 20px;
}
